nav {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 20px 100px;
    background: #1C2B35;
    justify-content: space-between;
}

.menu {
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #FF9900;
}